body {
  background: linear-gradient(135deg, #a80019 0%, #3c0812 100%);
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-container {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.15);
  padding: 48px 38px 38px 38px;
  width: 95vw;
  max-width: 560px;
  margin: 36px 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
h2 {
  color: #a80019;
  font-size: 2.1rem;
  margin-bottom: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
}
label {
  margin-top: 17px;
  margin-bottom: 6px;
  color: #000000;
  font-size: 1.07rem;
  font-weight: 500;
}
input[type="text"], input[type="number"], select {
  width: 100%;
  font-size: 1.1rem;
  border: 1.2px solid #e2e2e2;
  border-radius: 7px;
  padding: 13px;
  background: #f6f6f6;
  margin-bottom: 3px;
  margin-top: 2px;
  box-sizing: border-box;
  transition: border 0.2s;
  color:black
}
input:focus, select:focus {
  outline: none;
  border-color: #a80019;
  background: #fff;
}
button {
  margin-top: 35px;
  width: 100%;
  background: #a80019;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 20px 0;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(168, 0, 25, 0.07);
  letter-spacing: 1px;
  cursor: pointer;
  transition: background 0.18s;
}
button:hover {
  background: #7c0012;
}
